.DS_Store
.env
.env.*
!.env.example

backend/tmp
backend/build
backend/pentagi

frontend/coverage
frontend/dist
frontend/node_modules
frontend/ssl
node_modules

.cursorrules
.cursorignore
.cursor/

build/*
data/*
!.gitkeep
